extends layout

block content
	h1= title

	//Content wrapper
	main
		form#formDelUser(name="deluser",method="post",action="/deluser")
			input#inputUserName(type="text", placeholder="username", name="username")
			button#btnSubmit(type="submit") submit
